ul.item-list {
  list-style: none;
  padding: 0;
  margin: auto;
}

ul.item-list li {
  display: flex;
  margin: auto;
  justify-content: space-between;
  max-width: 600px;
  border-bottom: 1px solid #eee;
}

ul.item-list li button {
  width: 70px;
}

ul.item-list li div {
  width: 65%;
  text-align: justify;
}

ul.item-list li input {
  width: 100%;
}

ul.item-list li:hover {
  background-color: aqua;
  color: black;
}
