body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #666666;
    background-color: #f8f8f8;
}
li {
    list-style-image: url(../images/icon-plus.png);
    line-height: 1.6em;
}
table {
    border-spacing: 0px;
}
th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}
th, td {
    text-align: left;
    background-color: #e0e9f0;
    border-top: 0px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}
tr.first th {
    color: #fff;
    background-color: #90b4d6;
    border-bottom: 2px solid #546ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    text-align: center;
    text-shadow: -1px -1px 1px #ffffff;
}
/* tr.even td, tr.even th, tr:nth-child(even) td, */tr:nth-child(even) th, tr:nth-child(even) td 
{
    background-color: #e8eff5;
}
tr.first th:first-child {
    border-top-right-radius: 5px;
}
fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #781414;
    background-color: #ffffff;
    line-height: 1.6em;
}
legend {
    font-style: italic;
    color: #666666;
}
input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;
}
input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
input[type="submit"]:hover {
    border: 1px solid #006633;
    background-color: #00cc33;
    color: #ffffff;
    cursor: pointer;
}
.title {
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    text-align: right;
}
/* table, th, tr, td {
    border-collapse: collapse;
    border-right: 1px solid gray;
    padding: 5px;
    padding-right: 20px;
}
th {
    text-align: left;
} 
tr:nth-child(odd) {
    background-color: rgb(251, 255, 255);
}
tr:nth-child(even) {
    background-color: rgb(242, 255, 255);
}
tr.first th {
    background-color: cornflowerblue;
    color:whitesmoke;
    border-bottom: 1px solid black;
    padding-left: 20px;
}
#round {
    border-top-right-radius: 10px 10px;
}*/